apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: source-pvc
  namespace: demo1-compromised-dependency
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
